html {
    height: 100%;
}
body {
    color: #444444;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-image: url(../img/top-backimg2.png);
    background-size: cover;
    height: 100%;
}
#signupBackImg {
    /*バリデーションメッセージをが表示されることで背景サイズが変わるため*/
    background-size: contain;
}
a.list {
    color: #444;
}
a {
    text-decoration: none;
    color: #0075c2;
}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}
/**********
ヘッダー
***********/
#header {
    width: 100%;
    border-bottom: 1px solid #eeeeee;
    padding: 0 10px;
    box-sizing: border-box;
    background-image: url(../img/header-img.png);
    background-size: contain;
}
#top-content {
    width: 300px;
    overflow: hidden;
    margin: 0 auto;
    height: 80px;
}
.top-logo {
    margin: 0 0 0 40px;
    width: 80px;
    float: left;
}
.top-logo img {
    width: 100%;
}
.top-title {
    width: 140px;
    height: 100px;
    float: left;
    text-align: center;
    color: #444444;
}
.top-title h1 {
    display: block;
    width: 100%;
    margin: 0;
    line-height: 80px;
}
/***********
メイン
************/

@media screen and (min-width: 561px){
.all{
	margin: 0 auto;
	width: 560px;
	
}
}
@media screen and (min-width: 561px){
.wide{
	margin: 0 auto;
	width: 680px;
	
}
}
.msg-slide {
    text-align: center;
    background-color: #fff0f5;
    padding: 15px;
    margin: 0;
}
.commonErrArea {
    margin: 10px 0px 20px 0px;
    color: #e4007f;
}
/***********
ページタイトル
************/
.page-title {
    margin: 30px 0;
    text-align: center;
}
.page-title h1 {
    margin: 0;
}
/***********
フォーム
************/
.form-Area {
    width: 100%;
    padding: 20px;
    font-size: 18px;
}
p.formMsg{
    margin: 0;
}
input[type="text"] {
    width: 100%;
    padding: 15px;
    background-color: #f4f4f4;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    font-size: 16px;
    margin: 0 0 20px 0;
}
input[type="password"] {
    width: 100%;
    padding: 15px;
    background-color: #f4f4f4;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    font-size: 16px;
    margin: 0 0 20px 0;
}
input[type="submit"] {
    width: 100%;
    background-color: #ed6d46;
    font-size: 16px;
    padding: 15px;
    margin: 15px 0 0 0;
    color: #fff;
    border-radius: 5px;
    border: none;
}
input[type="submit"]:hover {
    cursor: pointer;
}
.login-check-wrap {
    margin: 10px 0;
}
.check-label:hover {
    cursor: pointer;
}
input[type="text"].form-passSend {
    margin: 0;
}
.form-Area p{
    color: #555555;
}
input[type="text"].input-error {
    border: 1px solid #e4007f;
}
.errorMsgArea {
    font-size: 14px;
    margin: -15px 0 20px 0;
    color: #e4007f;

}
select {
    background-color: #f4f4f4;
    border: none;
    padding: 10px;
}
/**************
フッター
***************/
#footer {
    width: 100%;
}
.copyright {
    height: 50px;
    background-color: #5f5f5f;
    color: #fff;
    text-align: center;
    line-height: 50px;
}
/*=======================================
login.html
=========================================*/
.login-no-account {
    text-align: center;
    padding: 0px 20px 20px 20px;
    border-bottom: 1px solid #eeeeee;
}
.login-no-account a {
    background-color: #0068b7;
    display: block;
    padding: 15px;
    color: #fff;
    border-radius: 5px;
}
.forgot {
    display: block;
    margin: 10px 0 0 0;
    font-size: 16px;
}
/*=======================================
transactionReg.html
=========================================*/

@media screen and (max-width: 560px){	
.regItemArea {
    min-height: 100px;
    overflow: hidden;
    margin: 0 0 30px 0;
}
.lastArea {
    margin: 0 0 20px 0;
}
.regArea-left {
    min-height: 100px;
    width: 100%;
}
.regItemTitle {
    margin: 0 0 10px 0;
}
.regItemcome {
    margin: 0 0 10px 0;	
	
}
.regSelect {
    color: #444;
    width: 100%;
    height: 50px;
    background-color: #f4f4f4;
    border: 1px solid #e7e7e7;
    font-size: 12px;
    margin: 0 0 15px 0;
}

.itemImg {
    width: 50%;
    margin: 0 auto;
    border: 1px solid #e7e7e7;
}
.itemImg img {
    width: 100%;
}
.regComment {
    margin: 0 0 30px 0;
}
.regComment textarea {
    width: 100%;
    height: 100px;
    background-color: #f4f4f4;
    border: none;
    padding: 10px;
    font-size: 14px;
    color: #444;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
}
}
@media screen and (min-width: 561px){	
.regItemArea {
    min-height: 100px;
    overflow: hidden;
    margin: 0 0 30px 0;
}
.lastArea {
    margin: 0 0 20px 0;
}
.regArea-left {
    min-height: 100px;
    width: 100%;
}
.regItemTitle {
    margin: 0 0 10px 0;	
	top: 80px;
}	
.regItemcome {
    margin: 0 0 10px 0;	
	
}
.regSelect {
    color: #444;
    width: 100%;
    height: 50px;
    background-color: #f4f4f4;
    border: 1px solid #e7e7e7;
    font-size: 12px;
    margin: 0 0 15px 0;
}
.itemImg {
    width: 30%;
	float: right;
    border: 1px solid #e7e7e7;
	
}
.itemImg img {
    width: 100%;
}
.regComment {
    margin: 0 0 30px 0;
}
.regComment textarea {
    width: 100%;
    height: 100px;
    background-color: #f4f4f4;
    border: none;
    padding: 10px;
    font-size: 14px;
    color: #444;
    border: 1px solid #e7e7e7;
}
}
/********************
itemRegDetail.html
*********************/
@media screen and (max-width: 560px){
.backbtn-Area {
    margin: 15px;
    font-size: 18px;
    padding: 5px;
    background-color: rgba(250, 250, 250, 0.5);
    border: none;
    border-radius: 3px;
}
.backbtn-Area a::before {
    font-family:"FontAwesome";
    content:"\f0d9";
    margin-right: 10px;
}
.user-Area {
    width: 100%;
    padding: 15px;
    overflow: hidden;
}
.user__icon {
    width: 30%;
    float: left;
}
.user__icon img {
    width: 100%;
    border-radius: 50%;
}
.user__info {
    width: 70%;
    float: left;
    text-align: center;
}
.user__name {
    text-align: center;
    font-size: 24px;
    border-bottom: 1px solid #444;
    width: 80%;
    margin: 0 auto;
}
.user__name a {
    color: #444;
}
.user__eval {
    margin: 10px 0 0 0;
}
.user__eval h6 {
    margin: 0;
}
#star_eval {
    font-size: 1px;
}
}
@media screen and (min-width: 561px){
	.backbtn-Area {
    margin: 15px;
    font-size: 18px;
    padding: 5px;
    background-color: rgba(250, 250, 250, 0.5);
    border: none;
    border-radius: 3px;
}
.backbtn-Area a::before {
    font-family:"FontAwesome";
    content:"\f0d9";
    margin-right: 10px;
}
.user-Area {
    width: 100%;
    padding: 15px;
    overflow: hidden;
}
.user__icon {
    width: 30%;
    float: left;
}
.user__icon img {
    width: 100%;
    border-radius: 50%;
}
.user__info {
    width: 70%;
    float: left;
    text-align: center;
}
.user__name {
    font-size: 24px;
    border-bottom: 1px solid #444;
    width: 80%;
    margin: 0 auto;
    padding: 50px 10px 3px 10px;
}
.user__name a {
    color: #444;
}
.user__eval {
    margin: 20px 0 0 0;
}
}

/*********************
星評価
**********************/
.rate {
    position: relative;
    display: inline-block;
    width: 160px;
    height: 32px;
    font-size: 32px;
}
.rate:before, .rate:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '★★★★★';
    display: inline-block;
    height: 32px;
    line-height: 32px;
}
.rate:before {    
    color: #ddd;
}
.rate:after {
    color: #ffa500;
    overflow: hidden;
    white-space: nowrap;
}
.rate0:after {
    width: 0;
}
.rate1:after {
    width: 32px;
} 
.rate1-5:after {
    width: 48px;
} 
.rate2:after {
    width: 64px;
} 
.rate2-5:after {
    width: 80px;
} 
.rate3:after {
    width: 96px;
}
.rate3-5:after {
  width: 112px;
}
.rate4:after {
    width: 128px;
}
.rate4-5:after {
    width: 144px;
}
.rate5:after {
    width: 160px;
}
.star__wrap {
    width: 160px;
    margin: 0 auto;
}
.item-Area {
    width: 100%;
    padding: 15px;
    overflow: hidden;
}
.reg__Item__Detail {
    width: 40%;
    float: left;
    box-sizing: border-box;
}
.reg__Item__Detail{
    margin: 0 5%;
}
.ItemImg {
    width: 100%;
}
.ItemImg img {
    width: 100%;
}
.detailComment { 
    padding: 15px;
}
.commentArea {
    padding: 10px;
    width: 100%;
    background-color: #f4f4f4;
    min-height: 150px;
    margin: 0 0 20px 0;
    border-radius: 3px;
}
.negobtn {
    width: 100%;
    background-color: #ed6d46;
    font-size: 16px;
    padding: 15px;
    margin: 15px 0 0 0;
    border-radius: 5px;
    border: none;
    color: #fff;
    display: inline-block;
    text-align: center;
}
.negobtn:hover {
    cursor: pointer;
}
.negobtn.delTran {
    background-color: #0068b7;
}
.btnArea {
    padding: 15px;
}
.editMenu {
    display: flex;
    justify-content: space-between;
}
.editMenu .negobtn {
    width: 45%;
}
/**********
msg.html
***********/
.top__btn__Area {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 15px;
}
.top__btn__Area .backbtn-Area {
    margin: 15px 0;
}
.trancomp-btn {
    background-color: #ed6d46;
    margin: 15px 0;
    font-size: 18px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    color:#fff;
}
.btn-right {
    float: right;
}
.tranInfo__Area {
    width: 95%;
    margin: 0 auto;
    padding: 15px 0;
    overflow: hidden;
    background-color: rgba(255, 255, 249, 0.4);
    border-radius: 3px;
    margin-bottom: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.userIcon {
    width: 50%;
    margin: 0 auto;
}
.userName {
    text-align: center;
}
.userIcon img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.userInfo {
    float: left;
    width: 40%;
}
.tranInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    float: left;
    width: 50%;
    padding: 2% 0;
}
.itemInfo {
    margin: 0 0 10px 0;
    font-size: 12px;
}
.tranItem-color {
    padding: 3px;
    background-color: #e5c1cd;
}
.wantItem-color {
    padding: 3px;
    background-color: #b2cbe4;
}
.itemInfo:last-child {
    margin: 0;
}
.itemName {
    padding: 5px 0 10px 0;
}
@media screen and (max-width: 560px){
.msg__Area {
    background-color: #fffff9;
    height: 400px;
    width: 95%;
    margin: 0 auto;
    border-radius: 3px;
    overflow: hidden;
    padding: 15px;
    overflow-y: scroll;
    box-sizing: border-box;
}
}
@media screen and (min-width: 561px){
.msg__Area {
    background-color: #fffff9;
    height: 600px;
    width: 95%;
    margin: 0 auto;
    border-radius: 3px;
    overflow: hidden;
    padding: 15px;
    overflow-y: scroll;
    box-sizing: border-box;
}
}
.msg__contents {
    width: 80%;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
    box-sizing: border-box;
}
.msgUser {
    width: 20%;
    border-radius: 50%;
    border: 1px solid #e6eae6;
    overflow: hidden;
}
.msg__contents.msg-left .msgUser {
    float: left;
}
.msg__contents.msg-right {
    float: right;
}
.msg__contents.msg-right .msgUser {
    float: right;
}
.msgUser img {
    width: 100%;
}
.msg__contents.msg-left .msg__text {
    float: left;
    margin: 5% 0 0 5%;
    display: block;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}
.msg__contents.msg-left .msg__text .hukidashi {
    padding: 5px;
    display: inline-block;
    background-color: #e5c1cd;
    border-radius: 3px;
    box-sizing: border-box;
}
.msg__contents.msg-right .msg__text {
    float: right;
    margin: 0 0 0 0;
    padding-right: 15px;
    display: block;
    width: 100%;
    text-align: right;
    box-sizing: border-box;
    position: relative;
}
.msg__contents.msg-right .msg__text .hukidashi {
    padding: 5px;
    display: inline-block;
    background-color: #b2cbe4;
    border-radius: 3px;
    box-sizing: border-box;
    text-align: left;
}
.msg__contents.msg-left .msg__text > .triangle {
    position: absolute;
    top: 7px;
    left: -20px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 15px solid #e5c1cd;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.msg__contents.msg-right .msg__text > .triangle {
    position: absolute;
    top: 7px;
    right: -5px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 15px solid #b2cbe4;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.msg__contents.msg-left .send__time {
    float: left;
    font-size: 8px;
    margin: 0 0 0 5%;
}
.msg__contents.msg-right .send__time {
    float: right;
    font-size: 8px;
    margin: 0 15px 0 0;
    text-align: right;
}
.msg__contents.msg-left .msg__wrap {
    float: left;
    width: 75%;

    
    box-sizing: border-box;
}
.msg__contents.msg-rignt .msg__wrap {
    float: right;
    width: 80%;
    overflow: hidden;
    box-sizing: border-box;
}
.msgSend__Area {
    width: 95%;
    margin: 0 auto;
    border: none;
    overflow: hidden;
    position: relative;
}
.msgSend__Area textarea {
    background-color: #d4d9dc;
    border-radius: 10px;
    border: none;
    width: 80%;
    height: 50px;
    float: left;
    padding: 15px;
    font-size: 14px;
    overflow: hidden;
    resize: horizontal;
}
.msgSend__Area input[type="submit"] {
    width: 20%;
    margin: 0;
    height: 50px;
    padding: 15px;
    position: absolute;
    right: 0;
    bottom: 0;
}
/*ユーザ評価モーダル*/
.eval__modal {
    width: 100%;
    position: absolute;
    top: 30%;
    display: none;
}
.eval__modal__wrap {
    width: 95%;
    margin: 0 auto;
    background-color: #eee9e6;
    padding: 5px;
    border-radius: 3px;
    position: relative;
}
.modalTitle {
    text-align: center;
}
.modalTitle .modalSubTitle {
    margin: 0;
}
.evalSel {
    width: 100%;
}
.eval-form__Area {
    padding: 5px;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}
.evalbtn__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px;
    text-align: center;
}
.evalbtn {
    display: none;
}
.evalbtn__wrap img {
    padding: 10px 10px 0 10px;
    width: 100%;
    opacity: 0.3;
}
.evalbtn:checked + .radio-img {
    opacity: 1;
}
.evalbtn__wrap p {
    margin: 0;
}
.evalSel .tranCompBtn {
    display: block;
    width: 95%;
    margin: 40px auto 15px auto;
}

/*=======================================
itemlist.html
=========================================*/
@media screen and (max-width: 560px){
.listpage-title {
    margin: 10px 0;
    text-align: center;
}
.listpage-title h1 {
	display: inline;
}
.serch-result__Area {
    width: 320px;
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: flex-end;
}
.serch-bar {
    display: flex;
    align-items: center;
    margin: 0 15px 0 0;
}
.listpage-title .home{
	float: right;
	margin-right: 10px;
    width: 50px;
    height: 50px;
    background-color: #52D3FF;
}
.itemmain {
    background-color: rgba(255, 255, 249, 0.4);
    height: 400px;
    width: 320px;
    margin: 0 auto;
    border-radius: 3px;
    overflow: hidden;
    overflow-y: scroll;
	box-sizing: border-box;
	display: -webkit-flex;
	flex-wrap: wrap;
    -webkit-justify-content: flex-start;
	
}
.itemmain .sub {
	margin: 10px 0 0 20px;
    float: left;
    display: inline-block;  
}
.itemmain .sub .listimg {
    width: 80px;
    height: 80px;
    background-color: #FFFFFF;
}
.itemmain .sub .title {
	display: block;
	width: 80px;
	font-size: 8px;
    font-weight: bold;
}
.botan {
	width: 100%;
	display: inline-block;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.botan .touroku {
    background-color: #0068b7;
	padding: 10px 10% 10px 10%;
    color: #fff;
    border-radius: 5px;
}
.botan .serch {
    background-color: #0068b7;
	padding: 10px 10% 10px 10%;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 16px;
}
}
@media screen and (min-width: 561px){
.listpage-title {
    margin: 10px 0;
    text-align: center;
}
.listpage-title h1 {
	display: inline;
}
.serch-result__Area {
    width: 644px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}
.serch-bar {
    display: flex;
    align-items: center;
    margin: 0 15px 0 0;
}
.listpage-title h1 {
	display: inline;
	margin-left: 75px;
}
.listpage-title .home{
	float: right;
	margin-right: 10px;
    width: 50px;
    height: 50px;
    background-color: #52D3FF;
}
.itemmain {
    background-color: rgba(255, 255, 249, 0.4);
    height: 700px;
    width: 644px;
    margin: 0 auto;
    border-radius: 3px;
    overflow: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
	display: -webkit-flex;
	flex-wrap: wrap;
    -webkit-justify-content: flex-start;
}
.itemmain .sub {
	width: 100px;
	margin: 10px 0 0 24px;
    float: left;
    display: inline-block;
}
.itemmain .sub .listimg {
    width: 100px;
    height: 100px;
    background-color: #FFFFFF;
	
}
.itemmain .sub .title {
	display: block;
	width: 100px;
	font-size: 14px;
}
.itemmain .sub .title {
	font-size: 10px;
    font-weight: bold;
}
.botan {
	width: 100%;
	display: inline-block;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 70px;
}
.botan .touroku {
    background-color: #0068b7;
	padding: 10px 10% 10px 10%;
    color: #fff;
    border-radius: 5px;
}
.botan .serch {
    background-color: #0068b7;
	padding: 10px 10% 10px 10%;
    color: #fff;
    border-radius: 5px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    border: none;
    font-size: 16px;
}
}

/*=======================================
mypage.html
=========================================*/
@media screen and (max-width: 560px){
.myComment { 
    padding: 15px;
}
.mycommentArea {
    padding: 10px;
    width: 100%;
    background-color: rgba(255, 255, 249, 0.4);
    min-height: 70px;
    margin: 0 0 20px 0;
}
.itemArea {
    width: 100%;
    background-color: #f4f4f4;
    min-height: 200px;
    margin: 0 0 20px 0;
    overflow-y: scroll;
}
.itemArea .syuppin {
	width: 95%;
	margin: 0 auto;
	overflow: hidden;
}

.itemArea .itemname {
    display: block;
	float: left;
}
.itemArea p {
	display: inline-block;
}
.itemArea .status {
	display: inline-block;
	padding-right: 10px;
	float: right;
	color: #0068b7;
}

.edit{
	float: right;
    margin: 15px 0;
    font-size: 18px;
    padding: 5px 15px;
    border: none;
    color:#fff;
}
.archive{
	text-align: right;
}
}
@media screen and (min-width: 561px){
.myComment { 
    padding: 15px;
}
.mycommentArea {
    padding: 10px;
    width: 100%;
    background-color: rgba(255, 255, 249, 0.4);
    min-height: 70px;
    margin: 0 0 20px 0;
}
.itemArea {
    width: 100%;
    background-color: #f4f4f4;
    min-height: 200px;
    margin: 0 0 20px 0;
    overflow-y: scroll;
}
.itemArea .syuppin {
	width: 95%;
	margin: 0 auto;
	overflow: hidden;
}

.itemArea .itemname {
    display: block;
	float: left;
}
.itemArea p {
	display: inline-block;
}
.itemArea .status {
	display: inline-block;
	padding-right: 10px;
	float: right;
	color: #0068b7;
}
.edit{
	float: right;
    margin: 15px 0;
    font-size: 18px;
    padding: 5px 15px;
    border: none;
    color:#fff;
}
.archive{
	text-align: right;
}
.status>a {
    text-decoration: underline;
}
}
/*=======================================
editmypage.html
=========================================*/
@media screen and (max-width: 560px){
input[type="submit"].editcomplete{
	float: right;
    margin: 15px 0;
    font-size: 18px;
    padding: 5px 15px;
    border: none;
    color: #FF0000;
    background-color: transparent;
    width: auto;
}
.user__name.edit {
    text-align: left;
    border: none;
    margin: 0;
    font-size: 16px;
    color: #444;
}
.editImg img {
    filter: brightness(70%);
}
.myComment textarea {
    width: 100%;
    height: 100px;
    background-color: #f4f4f4;
    border: none;
    padding: 10px;
    font-size: 16px;
    color: #444;
    border: 1px solid #e7e7e7;
}
#selIcon { 
    display: none;
}
.editImg {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-camera {
    position: absolute;
    color: #fff;
    z-index: 2;
    opacity: 0.7;
}
.editbtn {
    font-size: 16px;
    padding: 5px;
    background-color: rgba(250, 250, 250, 0.5);
    border: none;
    border-radius: 3px;
}
}
@media screen and (min-width: 561px){
input[type="submit"].editcomplete{
    float: right;
    margin: 15px 0;
    font-size: 18px;
    padding: 5px 15px;
    border: none;
    color: #FF0000;
    background-color: transparent;
    width: auto;
}
.user__name.edit {
    text-align: left;
    border: none;
    margin: 0;
    font-size: 16px;
    color: #444;
}
.editImg img {
    filter: brightness(70%);
}
.myComment textarea {
    width: 100%;
    height: 100px;
    background-color: #f4f4f4;
    border: none;
    padding: 10px;
    font-size: 16px;
    color: #444;
    border: 1px solid #e7e7e7;
}
}

/*=======================================
archivepage.html
=========================================*/

@media screen and (max-width: 560px){
.archiveArea{
	width: 95%;
    background-color: #f4f4f4;
    min-height: 400px;
    margin: 0 auto;
    overflow-y: scroll;
}

.archiveArea .syuppin {
	width: 95%;
	margin: 0 auto;
	overflow: hidden;
}

.archiveArea .itemname {
    display: block;
	float: left;
}
.archiveArea p {
	display: inline-block;
}
.archiveArea .status {
	display: inline-block;
	padding-right: 10px;
	float: right;
	color: #0068b7;
}
}
@media screen and (min-width: 561px){
.archiveArea{
	width: 540px;
    background-color: #f4f4f4;
    min-height: 400px;
    margin: 0 auto;
    overflow-y: scroll;
}

.archiveArea .syuppin {
	width: 95%;
	margin: 0 auto;
	overflow: hidden;
}

.archiveArea .itemname {
    display: block;
	float: left;
}
.archiveArea p {
	display: inline-block;
}
.archiveArea .status {
	display: inline-block;
	padding-right: 10px;
	float: right;
	color: #0068b7;
}
#selIcon { 
    display: none;
}
.editImg {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-camera {
    position: absolute;
    color: #fff;
    z-index: 2;
    opacity: 0.7;
}
.editbtn {
    font-size: 18px;
    padding: 5px;
    background-color: rgba(250, 250, 250, 0.5);
    border: none;
    border-radius: 3px;
}
}
/*********************
regComp.html
**********************/
.pageMsg {
    padding: 0 15px;
    width: 95%;
    margin: 0 auto;
    text-align: center;
}
