body {
    color: #444444;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
a {
    text-decoration: none;
    color: #0075c2;
}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}
/**********
ヘッダー
***********/
#header {
    width: 100%;
    border-bottom: 1px solid #eeeeee;
    padding: 0 10px;
    box-sizing: border-box;
}
#top-content {
    width: 300px;
    overflow: hidden;
    margin: 0 auto;
    height: 80px;
}
.top-logo {
    margin: 0 0 0 40px;
    width: 80px;
    float: left;
}
.top-logo img {
    width: 100%;
}
.top-title {
    width: 140px;
    height: 100px;
    float: left;
    text-align: center;
    color: #444444;
}
.top-title h1 {
    display: block;
    width: 100%;
    margin: 0;
    line-height: 80px;
}
/***********
メイン
************/
main {
    margin: 0 0 80px 0;
}
/***********
ページタイトル
************/
.page-title {
    margin: 30px 0 0 0;
    text-align: center;
}
.page-title h1 {
    margin: 0;
}
/***********
フォーム
************/
.form-Area {
    width: 100%;
    padding: 20px;
    font-size: 18px;
}
input[type="text"] {
    width: 100%;
    padding: 15px;
    background-color: #f4f4f4;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    font-size: 16px;
    margin: 0 0 20px 0;
}
input[type="submit"] {
    width: 100%;
    background-color: #00a960;
    font-size: 16px;
    padding: 15px;
    margin: 15px 0 0 0;
    color: #fff;
    border-radius: 5px;
}
input[type="submit"]:hover {
    cursor: pointer;
}
.login-check-wrap {
    margin: 10px 0;
}
input[type="checkbox"] {
    border: none;
    padding: 10px;
}
.check-label:hover {
    cursor: pointer;
}
input[type="text"].form-passSend {
    margin: 0;
}
.form-Area p{
    color: #999999;
}
/**************
フッター
***************/
#footer {
    width: 100%;
}
.copyright {
    height: 50px;
    background-color: #5f5f5f;
    color: #fff;
    text-align: center;
    line-height: 50px;
}
/*=======================================
login.html
=========================================*/
.login-no-account {
    text-align: center;
    padding: 0 20px 20px 20px;
    border-bottom: 1px solid #eeeeee;
}
.login-no-account a {
    background-color: #0068b7;
    display: block;
    padding: 15px;
    color: #fff;
    border-radius: 5px;
}
.forgot {
    margin: 0 0 0 20px;
}